body {
  background-color: #06161e;
  height: 100vh;
  margin: 0;
}
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
footer {
  background-color: #05da62;
  justify-content: center;
  text-align: center;
  margin-top: auto;
}

h1 {
  color: #05da62;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 28pt;
}
h2 {
  color: #05da62;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20pt;

}
p {
  color: white;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: large;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.row {
  display: flex;
}
.column {
  flex: 33.33%;
  padding: 5px;
}
.padded {
  padding-left: 1in;
  padding-right: 1in;
  padding-bottom: 0.5in;
}

footer p {
  color: #06161e;
}
footer a {
  color: #06161e;
}