body {
  background-color: #06161e;
  height: 100vh;
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  background-color: #05da62;
  display: flex; /* Added display flex */
  justify-content: center;
  align-items: center; /* Vertically center items */
  text-align: center;
}

h1, h2, p {
  color: #05da62;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
  color: white;
  font-size: 18px; /* Changed font size */
}

.center {
  display: block;
  margin: 0 auto; /* Shortened margin */
}

.padded {
  padding: 0 10%; /* Combined padding */
  padding-bottom: 0.5in;
}

footer p, footer a {
  color: #06161e;
}
