html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: rgb(6, 22, 30);
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  padding: 0 12rem;
  margin-bottom: 20px;
}

header,
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  background-color: #05da62;
  width: 100%;
  padding: 8px 0;
}

h1,
h2,
p,
dl,
ul,
dt,
dd,
li,
button {
  font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
}

h1 {
  font-size: 36px;
  color: #05da62;
}

h2 {
  font-size: 28px;
  color: #05da62;
}

dl, dt, dd {
  font-size: 18px;
  display: grid;
  grid-template-columns: max-content auto;
  color: white;
}

dt {
  font-weight: bold;
  grid-column-start: 1;
  float: left;
  clear: left;
}

dd {
  grid-column-start: 2;
}

p,
ul,
li {
  font-size: 18px;
  color: white;
}

footer p,
footer a {
  color: #06161e;
}

.img-links {
  width: 100%;
  display: flex;
  justify-content: space-between; /* Spread items evenly */
  flex-wrap: wrap; /* Wrap items on smaller screens */
}

.img-link {
  width: 30%; /* Adjusted width for three items */
  margin-bottom: 20px; /* Added margin between items */
}

.img-link img {
  width: 100%;
  transition: transform 1s ease; /* Adding transition for smooth effect */
}

.img-link:hover img {
  transform: scale(1.1); /* Making the image 5% larger on hover */
}

.cs-container {
  background-color: rgba(6,22,30, 0.7);
  background-image: url("/graphics/transparent_crime_solvers_background.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-blend-mode: darken;
  background-size: auto;
}

.exp-logo {
  width: 100%;
}

.exp-logo img{
  pointer-events: none;
  max-width: 100%;
  width: 400px;
  margin-right: 20px;
  margin-bottom: 0;
}

.exp-logo h1 {
  margin-top: 10px;
}

.nav-bar {
  position: absolute;
  right: 12rem;
  top: 15rem;
}

.nav-bar a {
  color: #05da62;
  text-decoration: none;
  font-weight: bold;
  font-size: 18pt;
  margin: 0;
  padding: 0;
}

.nav-bar a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .img-link {
    width: 100%; /* Full width on smaller screens */
  }
  main {
    padding: 0 3rem;
    margin-bottom: 20px;
  }
  .nav-bar {
    display: none;
    text-align: center;
    padding-bottom: 5%;
  }
}
