html {
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
}

#main-wrapper {
    height: 100vh;
}

body {
    display: flex;
    background-image: url(/crime-solvers/graphics/Paper\ Texture.png);
    margin: 0;
    width: 100vw;
    height: 90vh;
    position: absolute;
}

h1,
h2,
.theme-toggle {
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
}

/* .cover-close {
    position: fixed;
    width: 100vw;
    background-color: rgb(6, 22, 30);
    animation-name: close;
    animation-duration: 1.5s;
    z-index: 3;
}

.cover-open {
    position: fixed;
    width: 100vw;
    background-color: rgb(6, 22, 30);
    animation-name: open;
    animation-duration: 1.5s;
    z-index: 3;
}

@keyframes close {
    0% {height: 0;}
    100% {height: 100vh;}
}

@keyframes open {
    0% {height: 100vh;}
    100% {height: 0;}
} */

.fullscreen-pre-window {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: #8354da;
    z-index: 4;
}

.center-choice {
    position: absolute;
    height: 30%;
    left: 10%;
    right: 10%;
    top: 35%;
    bottom: 35;
    border-radius: 10px;
}

.center-choice-content {
    text-align: center;
}

#loading-page {
    z-index: 3;
}

.animated-loading-page {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: #8354da;
    animation-name: reveal;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    -webkit-animation-name: reveal;
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: 3s;
    -webkit-animation-fill-mode: forwards;
}

@keyframes reveal {
    100% {transform: translateY(-100%);}
}

@-webkit-keyframes reveal {
    100% {-webkit-transform: translateY(-100%);}
}

.animated-loading-page .loader {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 140px;
    height: 140px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f0e9d7;
    border-radius: 60%;
    border-top: 16px solid #2e1c50;
    -webkit-animation: spin 5s linear;
    animation: spin 5s linear;
  }
  
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    45% { -webkit-opacity: 100;}
    55% { -webkit-opacity: 0;}
    100% { -webkit-transform: rotate(720deg); 
            -webkit-opacity: 0;}
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    45% { opacity: 100;}
    55% { opacity: 0;}
    100% { transform: rotate(720deg); 
            opacity: 0;}
}

header {
    display: flex;
    background-color: #2e1c50;
    height: 10vh;
    width: 100vw;
    padding: 5px;
    text-align: center;
}

header h1 {
    color: #f0e9d7;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5%;
}

.theme-toggle {
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 1em;
    background-color: #f0e9d7;
    color: #2e1c50;
    cursor: pointer;
    border-radius: 10px;
    padding: 0.5em;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

input {
    display: none;
}

.fullscreen-window {
    display: none;
    position: absolute;
    z-index: 2;
    height: 100vh;
    width: 100%;
    top: 0;
}

.fullscreen-inner {
    background-image: url(/crime-solvers/graphics/Paper\ Texture.png);
    position: absolute;
    height: 80%;
    left: 10%;
    right: 10%;
    top: 10%;
    bottom: 10%;
    border-radius: 10px;
    box-shadow: 0 0 50px black;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

.fullscreen-inner::-webkit-scrollbar {
    display: none;
}

.dimmer {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    max-height: 100vh;
}

#debrief-window {
    display: block;
}

.fullscreen-window h1 {
    color: black;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    text-align: center;
    user-select: none;
}

.fullscreen-window h2 {
    color: black;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    margin-left: 5%;
    user-select: none;
}

.fullscreen-window h3 {
    color: black;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 5%;
    user-select: none;
}

.fullscreen-window p, li {
    color: black;
    font-family: 'Courier New', Courier, monospace;
    user-select: none;
    margin-left: 5%;
    margin-right: 5%;
}

.fancy {
    font-family: cursive !important;
}

.character-block {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.character-block img {
    float: left;
    width: 15%;
    margin-left: 10%;
    position: relative;
}

.character-block p {
    float: right;
    width: 55%;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
}

.fullscreen-window .close-button {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15pt;
    font-weight: 900;
    position: fixed;
    right: 100px;
    top: 35px;
    cursor: pointer;
}

.evidence-bin {
    position: absolute;
    background-color: #6a598b;
    width: 30%;
    height: 90vh;
    text-align: center;
    z-index: 1;
    overflow-y: scroll;
    padding-bottom: 3%;
    scrollbar-color: #6a598b #2e1c50;
    scroll-behavior: smooth;
}

.evidence-bin h1 {
    color: black;
    font-family: 'Courier New', Courier, monospace;
    user-select: none;
    font-size: 18pt;
    text-transform: uppercase;
}

.evidence {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.evidence-button {
    background-image: url(/crime-solvers/graphics/Paper\ Texture.png);
    border-radius: 15px;
    width: 75%;
    height: 5em;
    align-content: center;
    cursor: pointer;
    z-index: 2;
    transform: translate(0,0);
    transition: 0.4s transform;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 1%;
}

.evidence-button p {
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    user-select: none;
}

.evidence-button-drop {
    background-color: #948f82;
    border-radius: 15px;
    width: 75%;
    height: 5em;
    position: absolute;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    z-index: 1;
    transform: translate(3px,3px);
    transition: 0.4s transform;
}

.evidence:hover .evidence-button {
    transition: 0.4s transform;
    transform: scale(1.1);
}

.evidence:hover .evidence-button-drop {
    transition: 0.4s transform;
    transform: scale(1.1) translate(5px,5px) rotate(2deg);
}

.evidence-img-wrapper {
    padding: 5%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
}

.evidence-img {
    width: 70%;
    box-shadow: 0 0 25px rgb(0, 0, 0);
}

.workspace {
    position: absolute;
    height: 90vh;
    width: 65%;
    margin-left: 35%;
    margin-right: 0;
    overflow-y: scroll;
    scrollbar-color: #f0e9d7 #a59b83;
    scroll-behavior: smooth;
    padding-right: 5%;
}

.workspace h1, p, a, ul {
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
}

.workspace .external-link {
    background-color: #2e1c50;
    text-align: center;
    border-radius: 8pt;
    width: 50%;
}

.workspace .external-link a {
    color: white;
    text-shadow: 0 0 15px white;
}
